{
  "extends":"airbnb",
  "plugins":[
    "mocha"
  ],
  "rules":{
    "no-console":0,
    "no-unused-expressions":0,
    "no-cond-assign":["error", "except-parens"],
    "mocha/no-exclusive-tests":"error",
    "no-unused-vars":["error",{"argsIgnorePattern":"[iI]gnored"}],
    "strict":0
  },
  "globals":{
    "describe":false,
    "before":false,
    "beforeEach":false,
    "afterEach":false,
    "it":false
  }
}
